* {
  text-align: center;
    font-family: 'Amatic SC', cursive;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
     -ms-animation: fadein 2s; /* Internet Explorer */
      -o-animation: fadein 2s; /* Opera < 12.1 */
         animation: fadein 2s;
}
  }


  @keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
  }

  /* Firefox < 16 */
  @-moz-keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
  }

  /* Safari, Chrome and Opera > 12.1 */
  @-webkit-keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
  }

  /* Internet Explorer */
  @-ms-keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
  }

  /* Opera < 12.1 */
  @-o-keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
  }




p {
  font-size: 26px;
}
body {
  background-image: url("http://www.shopgratitudesgifts.com/wp-content/uploads/2016/08/General-Notebook-Paper-Background-For-Word-Template-Examples.jpg");
}
.jumbotron {
  margin-top: 40px;
  font-size: 50px;
  color: black;
  font-family: 'Amatic SC', cursive;
  background-color: white;
}
.jumbotron h1 {
  font-size: 100px;
}

.col-md-4 {
  background-image: url("file:///Users/Guest/Desktop/flashcard-site/img/flash1.jpg");
  margin: 15px;
  border: 2px solid red;
  height: 175px;
  width: 350px;
}

/*WORKING CSS*/

#javascript-hide {
  display: none;
  background-image: url("file:///Users/Guest/Desktop/flashcard-site/img/flash1.jpg");
  margin: 15px;
  border: 2px solid red;
  height: 175px;
  width: 350px;
}

#operators-hide {
  display: none;
  background-image: url("file:///Users/Guest/Desktop/flashcard-site/img/flash1.jpg");
  margin: 15px;
  border: 2px solid red;
  height: 175px;
  width: 350px;
}

#variables-hide {
  display: none;
  background-image: url("file:///Users/Guest/Desktop/flashcard-site/img/flash1.jpg");
  margin: 15px;
  border: 2px solid red;
  height: 175px;
  width: 350px;
}

#vnc-hide {
  display: none;
  background-image: url("file:///Users/Guest/Desktop/flashcard-site/img/flash1.jpg");
  margin: 15px;
  border: 2px solid red;
  height: 175px;
  width: 350px;
}

#functions-hide {
  display: none;
  background-image: url("file:///Users/Guest/Desktop/flashcard-site/img/flash1.jpg");
  margin: 15px;
  border: 2px solid red;
  height: 175px;
  width: 350px;
}

#methods-hide {
  display: none;
  background-image: url("file:///Users/Guest/Desktop/flashcard-site/img/flash1.jpg");
  margin: 15px;
  border: 2px solid red;
  height: 175px;
  width: 350px;
}

/*EXPERIMENTAL CSS*/

/*#card1-hide {
  display: none;
  background-image: url("file:///Users/Guest/Desktop/flashcard-site/img/flash1.jpg");
  margin: 15px;
  border: 2px solid red;
  height: 175px;
  width: 350px;
}

#card2-hide {
  display: none;
  background-image: url("file:///Users/Guest/Desktop/flashcard-site/img/flash1.jpg");
  margin: 15px;
  border: 2px solid red;
  height: 175px;
  width: 350px;
}

#card3-hide {
  display: none;
  background-image: url("file:///Users/Guest/Desktop/flashcard-site/img/flash1.jpg");
  margin: 15px;
  border: 2px solid red;
  height: 175px;
  width: 350px;
}

#card4-hide {
  display: none;
  background-image: url("file:///Users/Guest/Desktop/flashcard-site/img/flash1.jpg");
  margin: 15px;
  border: 2px solid red;
  height: 175px;
  width: 350px;
}

#card5-hide {
  display: none;
  background-image: url("file:///Users/Guest/Desktop/flashcard-site/img/flash1.jpg");
  margin: 15px;
  border: 2px solid red;
  height: 175px;
  width: 350px;
}

#card6-hide {
  display: none;
  background-image: url("file:///Users/Guest/Desktop/flashcard-site/img/flash1.jpg");
  margin: 15px;
  border: 2px solid red;
  height: 175px;
  width: 350px;
}*/
